ProjetBiking/HeavyClient/Connected Services/SOAPReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Server" />
  <xs:element name="GetItinarySOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ville" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItinarySOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="GetItinarySOAPResult" nillable="true" type="q1:OpenRouteServiceItinary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCoordinatesFromAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCoordinatesFromAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="getCoordinatesFromAddressResult" nillable="true" type="q2:OpenRouteServiceItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sub">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Number1" type="xs:int" />
        <xs:element minOccurs="0" name="Number2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mul">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Number1" type="xs:int" />
        <xs:element minOccurs="0" name="Number2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MulResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MulResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Div">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Number1" type="xs:int" />
        <xs:element minOccurs="0" name="Number2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DivResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItinaryREST">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ville" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItinaryRESTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="GetItinaryRESTResult" nillable="true" type="q3:OpenRouteServiceItinary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubRest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Number1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Number2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubRestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubRestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MulRest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Number1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Number2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MulRestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MulRestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivRest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Number1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Number2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivRestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DivRestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>